/*Police google font : Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');


/*Police google font : Open Sans pour les titres*/
/*Police google font : Montserrat pour les paragraphes*/
/* Variables couleurs de base */
:root {
 --main-font-family: 'Open Sans', sans-serif;
 --second-font-family: 'Montserrat', sans-serif;
 --main-color : #023535;
 --second-color : #0CABA8;
}


#inscription {
  background: rgba(12, 171, 168, 0.5);
  border: 2px solid var(--second-color);
  color : var(--main-color);
}

#inscription button:hover{
  background-color: var(--main-color);
  color : var(--second-color);
  opacity: 0.7;
}